
<div class="row">
  <div class="col-md-5">

    <div class="ui-bar ui-bar-marron"></div>

    <h2 class="featurette-heading pt-3">Our Beliefs</h2>

    <p class="">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
  
  </div>
  <div class="col-md-4">
    <img class="featurette-image img-fluid mx-auto" src="http://excellencelab.com/development/img/bible-1149924_1920.jpg" data-holder-rendered="true">

  </div>
  <div class="col-md-3">
  
    <p class="">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
  
  </div>
  
</div>
