<article class="row latest-card-content">
    <div class="col-lg-4 col-sm-4 col-xs-12">

        <figure>
          <a href="http://www.weekinafrica.com/a/2015/5/burundi-protests-continue-despite-pierre-nkurunziza-pledge">
            <img src="http://weekinafrica.com/imgbin/_260x178_crop_center-center_100/82832332_82830810.jpg" alt="82832332 82830810" width="260" height="178">
          </a>
        </figure>

    </div>
    <div class="col-lg-8 col-sm-8 col-xs-12 news-content">

        <h4 class="story-category"><a href="http://www.weekinafrica.com/c/news">News</a></h4>				
        <h2 class="media-heading news-title"><a href="http://www.weekinafrica.com/a/2015/5/burundi-protests-continue-despite-pierre-nkurunziza-pledge">Burundi protests continue despite Pierre Nkurunziza pledge</a></h2>
        <span class="timesinc story-byline">May 8, 2015, 4:54:00 AM</span>
        <p class="story-summary hidden-xs">At least four people have been killed in fresh protests in Burundi, witnesses...</p>

    </div>
</article>
