<div class="row mb-2">
    <div class="col-md-6">

      <div class="">
      
        <figure class="">
          <a class="" href="#">
            <picture class="">
              <img class="card-img-right flex-auto d-none d-lg-block" data-src="holder.js/200x250?theme=thumb" alt="" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22200%22%20height%3D%22250%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20200%20250%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_166b702b8e3%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A13pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_166b702b8e3%22%3E%3Crect%20width%3D%22200%22%20height%3D%22250%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2256.203125%22%20y%3D%22131%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true" style="width: 200px; height: 250px;">
            </picture>
          </a>       
        </figure>

        <div class="d-flex">

          <div class="d-inline-block mb-2 text-muted">Praesent commodo</div>

          <h3 class="mb-0"><a class="text-dark" href="#">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus</a></h3>

          <p class="card-text mb-auto"><a class="text-dark" href="#">Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. 
          Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. 
          Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Pellentesque ornare sem lacinia quam venenatis vestibulum</a></p>

        </div>

      </div>

    </div>
    <div class="col-md-6">

      <div class="">
      
        <div class="">
        
          <figure class="">
            <a class="" href="#">
              <picture class="">
                <img class="card-img-right flex-auto d-none d-lg-block" data-src="holder.js/200x250?theme=thumb" alt="" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22200%22%20height%3D%22250%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20200%20250%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_166b702b8e3%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A13pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_166b702b8e3%22%3E%3Crect%20width%3D%22200%22%20height%3D%22250%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2256.203125%22%20y%3D%22131%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true" style="width: 200px; height: 250px;">
              </picture>
            </a>       
          </figure>
          
          <div class="mb-1 text-muted">Praesent commodo</div>
          <h3 class="mb-0">
            <a class="text-dark" href="#">Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero</a>
          </h3>
          <p class=""><a class="text-dark" href="#">Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum.</a></p>
        </div>
       
      </div> 

    </div>
</div>
