<div class="button-wrapper print">
<a class="print button icon icon-hl-print css-1tcjupa e1wvsibx0" target="_blank" title="Print this page"></a>
</div>

<div class="button-wrapper email">
<a class="print button icon icon-hl-print css-1tcjupa e1wvsibx0" target="_blank" title="Print this page"></a>
</div>

<div class="button-wrapper facebook">
<a class="print button icon icon-hl-print css-1tcjupa e1wvsibx0" target="_blank" title="Print this page"></a>
</div>

<div class="button-wrapper twitter">
<a class="print button icon icon-hl-print css-1tcjupa e1wvsibx0" target="_blank" title="Print this page"></a>
</div>

<div class="button-wrapper pinterest">
<a class="print button icon icon-hl-print css-1tcjupa e1wvsibx0" target="_blank" title="Print this page"></a>
</div>

<div class="button-wrapper reddit">
<a class="print button icon icon-hl-print css-1tcjupa e1wvsibx0" target="_blank" title="Print this page"></a>
</div>
